.transactions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.transactions h1{
    color: #010e11;
    font-size: 24px;
    font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    align-self: start;
    margin-left: 5%;
}


.container-list {
    display: flex;
    width: 80vw;
    height: 40%;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #DEE0E0;

}

.amountresult {

    font-size: 16px;
    font-weight: 600;
    font-family: Open Sans, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    height: min-content;
    text-align: end;
    flex-shrink: 0;
}

.transaction {
    display: flex;
    align-items: center;
    gap: 10px;
}

.transaction-type,
.transaction-amount {
    white-space: nowrap;

}

.amountresult.positive {
    color: #05bcb9;
}

.amountresult.negative {
    color: red;
}